/*
    Document   : Labs/CST336_LAB2/styles．css
    Created on : 2015-02-11 07:05 PM
    Author     : tray9888
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body{
    
    font-family: Arvo;
    background-image: url(http://d13pix9kaak6wt.cloudfront.net/background/faitabbou_1340664069_0.jpg);
}

.wrapper {
    width: 700px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background: url(http://static.wixstatic.com/media/f0f711_324b17deddf14740964de33776c8052b.jpg);
}

 img:hover{
                transition:all .5s;
                border:1px solid blue;
            }

 img{
                border:black 5px solid;
                border-radius:10px;
              
            }

 #mainheader{
                
                color:silver;
                text-align:center;
                text-decoration: none;
            }

.myButton {
    text-align:center;
    color: black;
    border-radius: 4px;
    background-color: silver;
    font-style: bold;
    margin: 0 auto;
    padding:5px;
    text-decoration: none;
    width: 100px;
}